.hero-img{
  position: fixed;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: gray;
}
.full-screen{
  width:100%;
  height: 100vh;
}
.video-full-screen{
  position: relative;
  left: 50%;
  margin-left: -40%;
  width:80%;
  height: 100%;
}
.pj-title{
  position: absolute;
  bottom: 0;
  padding: 1em;
  width: 100%;
  z-index: 90;
  height: 7em;
  background-color: white;
}
nav #pj-name{
  color: rgba(10,10,10,1);
  padding: 0;
}
#pj-name .title{
}
.fixed{
  position: fixed;
  bottom: inherit;
  height: 5em;
}
.section-wrapper{
  padding: 1em;
}
#page-wrapper-2{
}
#project-box-2c div,#project-box-3c div,#project-box-4c div{
  overflow: hidden;
}
#project-box-2c,#project-box-3c,#project-box-4c{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-auto-rows: auto;
  grid-gap: 1em;
}

#project-box .description{
  background: white;
}

.margin-top-gap-1em{
  margin-top: 1em;
}

.section-title{
  padding-bottom: .5em;
  display: inline-block;
}
.description {
  padding: 1em;
  /* font-size: 1.4em; */
  line-height: 1.4em;
}
.description p {
  font-size: 0.8em;
  line-height: 1.4em;
}
.pj-img{
  display: block;
  width: 100%;
  height: 100%;
  transform: scale(1.01);
  object-fit: cover;
  transform-origin: center middle;
  transition: 200ms cubic-bezier(0,.2,.4,1);
  transition-property: opacity transform;
}
.prevNext{
  background-color: rgba(10,10,10,1);
}
.prePage{
  position: relative;
  display:inline-block;
}
.nextPage{
  position: relative;
  display: inline-block;
}
.prePage::before,.nextPage::before{
  display:block;
  position: absolute;
  background-color: rgba(10,10,10,1);
  padding: 1em 2em 1em 2em;
  color: rgba(180,180,180,1);
  top: 0;
  z-index: 100;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.prePage::before{
  content: "previous";
  right: 0;
}
.nextPage::before{
  content: "next";
}
@media screen and (min-width: 1100px) {
  .pj-img:hover{
    transform: scale(1.05);
  }
  .pj-title{
    width: 66%;
  }
  #video-box{
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: calc(32vw/16*9);
  }
  .video-grid{
    grid-column: 1/4;
    grid-row: 1/4;
    background-color: rgba(0,0,0,1);
  }
  #project-box-2c{
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: calc(48vw/16*9);
  }
  #project-box-3c{
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: calc(32vw/16*9);
  }
  #project-box-4c{
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: calc(24vw/16*9);
  }

}
