body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0px;
  background-color: #f4f7f9;
  color: #414042;
  cursor: default;
}

a{
  text-decoration: underline;
  color: #414042;
  cursor: pointer;
  font-weight: 700;
}
a:hover{
  color: #ec5432;
}
h1{
  margin: 0px;
  font-weight: 700;
  font-size: 1.8em;
  transition: all 0.3s;
}
h2{
  margin: 0px;
  font-weight: 700;
  font-size: 1.2em;
  opacity: 0.8;
  transition: all 0.3s;
}


#homeb{
  color: #ec5432;
  cursor: pointer;
}
#homeb2{
  cursor: pointer;
  text-decoration: none;
}
#checked{
  color: #ec5432;
  cursor: pointer;
}
#clickable{
  cursor: pointer;
}
#clickable:hover{
  color: #ec5432;
  font-weight: 700;
}
#clicked{
  color: #ec5432;
  font-weight: 700;
  cursor: pointer;
}

#adoptingb{
  cursor: pointer;
}
#eventb{
  cursor: pointer;
}
#oliviab{
  cursor: pointer;
}
#homebx{
  position: absolute;
  top: 0px;
  width: 10px;
  height: 10px;
  /*background-color: red;*/
  z-index: 10;
}
#adoptingbx{
  position: absolute;
  top: 520px;
  width: 10px;
  height: 10px;
  /*background-color: green;*/
  z-index: 10;
}

#eventbx{
  position: absolute;
  top: 1790px;
  width: 10px;
  height: 10px;
  /*background-color: blue;*/
  z-index: 10;
}

#aboutbx{
  position: absolute;
  top: 2680px;
  width: 10px;
  height: 10px;
  /*background-color: black;*/
  z-index: 10;
}
.mainnav{
  position: fixed;
  width: 100%;
  font-weight: 700;
  font-size: 1.2em;
  padding-top: 24px;
  padding-bottom: 10px;
  text-align: center;
  z-index: 20;
  display: none;
  transition: all 0.2s;
}

.bgmg{
  position: fixed;
  top: 0px;
  width: 100%;
  height: 70px;
  background-color: #f4f7f9;
  opacity: 0.9;
  z-index: 19;
}


.adoptmainnav{
  position: fixed;
  width: 100%;
  font-weight: 700;
  font-size: 1.2em;
  padding-top: 24px;
  padding-bottom: 10px;
  text-align: center;
  z-index: 20;
  display: none;
  transition: all 0.2s;
}


.adoptbgmg{
  position: fixed;
  top: 0px;
  width: 100%;
  height: 70px;
  background-color: #f4f7f9;
  opacity: 0.9;
  z-index: 19;
}

.appear{
  display: block;
}
.box1{
  padding-top: 60px;
  height: 460px;
}

.biglogo{
  background-image: url(../img/olivialogo2.png);
  background-position: top;
  background-size: cover;
  width: 273px;
  height: 440px;
  margin: auto;


}
  .biglogomv{
    transform-origin: center;
    transform: scale(0,0);
    animation: biglogoprss 0.26s forwards linear;
  }
  @keyframes biglogoprss {
    60%{
      transform: scale(1.1,1.1);
    }
    70%{
      transform: scale(1,1);
    }
    100%{
      transform: scale(1,1);
    }
  }


.container1{
  padding-left: 100px;
	padding-right: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
.container1{

}

.bttns{
  cursor: pointer;
}
.bttns:hover{
  color: #ec5432;
}

.bttnolivia:hover{
  animation: oliviaprss 0.4s linear;
}
  @keyframes oliviaprss {
    20%{
      transform: rotate(10deg);
    }
    30%{
      transform: rotate(-10deg);
    }
    40%{
      transform: rotate(5deg);
    }
    50%{
      transform: rotate(-5deg);
    }
    60%{
      transform: rotate(0deg);
    }
  }
.bttnolivia{
  position: absolute;
  left: 695px;
  top: 6px;
  width: 169px;
  height: 116px;
  background-image: url(../img/olivialogo.png);
  background-position: center;
  background-size: cover;
  transition: all 0.4s;
  transform-origin: center;
}

.subtitle{
}
.subtitle1{
  text-align: center;
  font-weight: 600;
  font-size: 2.4em;
  padding: 10px;
  margin: 20px;
  border-top: 2px solid #414042;
  border-bottom: 2px solid #414042;
}

.subtltxt{
  padding-left: 160px;
  padding-right: 160px;
  font-size: 1.2em;
  line-height: 1.5em;
}
.menufe{
  text-align: center;
}
.subtltxt #link{
  font-weight: 700;
}
.box3{
  position: relative;
  padding: 40px;
  height: 800px;
}
.box4{
  position: relative;
  padding: 40px;
  height: 300px;
}
.post:hover, .profile:hover, h1:hover, h2:hover{
  transform: translate(-4px,-4px);
}
#homeb:hover,#adoptingb:hover,#eventb:hover,#oliviab:hover{
  text-decoration: underline;
}

.post{
  position: relative;
  margin: 10px;
  padding: 20px;
  width: 240px;
  height: 340px;
  background-color: red;
  float: left;
  cursor: pointer;
  transition: all 0.3s;
}
.post .txt{
  margin-top: 10px;
}
.post h1{
  margin-bottom: -4px;
}
.post h2{
  margin-bottom: 10px;
  opacity: 0.8;
}
.profile{
  position: relative;
  width: 240px;
  height: 240px;
  border-radius: 1%;
  background-size: cover;
  transition: all 0.3s;
}
.post1{
  background-color: #fae2bc;
  /*font-size: 1.2em;*/
}
.post1 .profile{
  background-image: url("../img/img1.jpg");
}
.post2{
  background-color: #e9e5da;
}
.post2 .profile{
  background-image: url("../img/img2.jpg");
}
.post3{
  background-color: #f9cfa5;
}
.post3 .profile{
  background-image: url("../img/img3.jpg");
}
.post4{
  background-color: #e9e2c5;
}
.post4 .profile{
  background-image: url("../img/img4.jpg");
}
.post5{
  background-color: #f3c186;
}
.post5 .profile{
  background-image: url("../img/img5.jpg");
}
.post6{
  background-color: #e7a55b;
}
.post6 .profile{
  background-image: url("../img/img6.jpg");
}
.selects{
  text-align: center;
  height: 100px;
  font-size: 1.4em;
}
/*event*/
.event .post1{
  position: relative;
  margin: 50px;
  margin-bottom: 100px;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  height: 90px;
  overflow: hidden;
  font-size: 1em;
  text-align: left;
  background-color: #e9e5da;
  transition: all 0.8s;
}
.event .post2{
  position: relative;
  margin: 50px;
  margin-bottom: 100px;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  height: 90px;
  overflow: hidden;
  font-size: 1em;
  text-align: left;
  background-color: #fae2bc;
  margin-top: -100px;
  transition: all 0.8s;
}
.event .post3{
  position: relative;
  margin: 50px;
  margin-bottom: 100px;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  height: 90px;
  overflow: hidden;
  font-size: 1em;
  text-align: left;
  background-color: #e9e2c5;
  margin-top: -100px;
  transition: all 0.8s;
}
.text1{
  font-size: 1.2em;
}
.event1:hover{
  height: 700px;
  }
.event2:hover{
  height: 180px;
  }

.event h1{
  margin-bottom: 15px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-top: solid 1px;
  border-bottom: solid 1px;

}
.event h2{
  margin-bottom: 10px;
  opacity: 0.8;
}
#vedio{
  position: relative;
  left: 50%;
  margin-left: -426px;
}
.smalltxt{
  font-size: 0.8em;
  text-align: right;
  margin-right: 400px;
  font-weight: 700;
  opacity: 0.8;
}
/*about*/
.subtltxt h2{
  margin-top: 6px;
  margin-bottom: -4px;
  opacity: 0.8;
}
.logoimg{
  position: relative;
  width: 240px;
  height: 332px;
  background-image: url(../img/olivialogo4.png);
  background-size: cover;
  top: 10px;
  left: 50%;
  margin-left: -107px;
  margin-bottom: 40px;
}
.locationimg{
  width: 660px;
  height: 332px;
  background-image: url(../img/location.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}
.locationimg .hereimg{
  position: relative;
  top: 114px;
  left: 306px;
  width: 47px;
  height: 72px;
  background-image: url(../img/here.png);
  background-size: cover;
  background-position: center;
  transform-origin: bottom;
}
.heremv{
  animation: hereprss 2s infinite;
}
@keyframes hereprss {
  0%{
    transform: rotate(10deg);
  }
  50%{
    transform: rotate(-10deg);
  }
  100%{
    transform: rotate(10deg);
  }
}

#eventb2:hover, #timeb:hover{
  color: #ec5432;
  text-decoration: underline;
}
#eventb2,#timeb{
  font-weight: 700;
}
#empathic{
  font-weight: 700;
  color: #ec5432;
}



/*footer*/
.footer{
  margin-top: 60px;
  position: relative;
  text-align: center;
}
.footer1{
  background-color: #414042;
  color: #f4f7f9;
  padding: 10px;
  width: 100%;
}
.footer2:hover{

}
.footer2{
  position: absolute;
  top: -113px;
  left: 86%;
  width: 138px;
  height: 153px;
  /*background-color: blue;*/
  background-image: url(../img/footer2.png);
  background-position: center;
  background-size: cover;

  animation: footer2prss 20s infinite linear;

  transition: all 1s;
}


/*adoptpage*/
.aprofile{
  padding-left: 160px;
  padding-right: 160px;
  padding-top: 40px;
  padding-bottom: 60px;
  margin: 50px;
  margin-bottom: 10px;
  background-color: #e9e5da;
  font-size: 1.2em;
}
.aprofile .title{
}
.adopt h1{
  margin-bottom: 18px;
  font-size: 2.4em;
  border-bottom: solid 1px;
}
.title h2{
  margin-bottom: -10px;
  font-size: 1.6em;
}
.milly{
  position: relative;
  width: 370px;
  height: 370px;
  border-radius: 1%;
  background-size: cover;
  transition: all 0.3s;
  margin-bottom: 20px;

  background-image: url("../img/img1_1.jpg");
}

.arrow:hover{
  background-color: #ec5432;
}
.arrow{
  font-size: 2.4em;
  position: absolute;
  padding: 10px;
  background-color: #414042;
  color: #f4f7f9;
  /*line-height: 0px;*/
  top: 200px;
  border-radius: 5%;
}
.aleft{
  left: -10px;
}
.aright{
  right: -10px;
}
.aprofile #fact{
  position: absolute;
  margin-left: 390px;
  top: 600px;
  font-size: 0.8em;
  line-height: 1.3em;
}
